[Unit]
Description=HA Watermeter
After=multi-user.target

[Service]
User=pi
Restart=always
WorkingDirectory=/opt/ha-watermeter
ExecStart=/usr/bin/python __main__.py

[Install]
WantedBy=multi-user.target
